<h1>Bootstrap Daterange</h1>
<label>Start</label>
{{bootstrap-daterange-picker singleDatePicker=true startDate=start}}

<label>End</label>
{{bootstrap-daterange-picker singleDatePicker=true startDate=end}}
<br />

<button {{action 'go'}}>Go</button>
<button {{action 'addRanges'}}>Add Ranges</button>

{{bootstrap-daterange-picker ranges=ranges startDate=start endDate=end}}
